@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 14% 11%;
    --card: 180 3% 97%;
    --card-foreground: 210 14% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 14% 11%;
    --primary: 204 88% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 14% 11%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 3% 91%;
    --muted-foreground: 210 8% 38%;
    --accent: 206 31% 94%;
    --accent-foreground: 204 88% 45%;
    --destructive: 0 77% 56%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 92%;
    --input: 0 0% 92%;
    --ring: 204 82% 54%;
    --radius: 1.3rem;
    --chart-1: 204 88% 53%;
    --chart-2: 160 58% 44%;
    --chart-3: 43 88% 56%;
    --chart-4: 151 61% 46%;
    --chart-5: 350 73% 53%;
  }

  .dark:root {
    --background: 0 0% 0%;
    --foreground: 210 7% 93%;
    --card: 240 5% 12%;
    --card-foreground: 0 0% 89%;
    --popover: 0 0% 0%;
    --popover-foreground: 210 7% 93%;
    --primary: 204 88% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 14% 96%;
    --secondary-foreground: 210 14% 11%;
    --muted: 0 0% 13%;
    --muted-foreground: 210 5% 50%;
    --accent: 204 33% 13%;
    --accent-foreground: 204 88% 53%;
    --destructive: 0 77% 56%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 24%;
    --input: 0 0% 30%;
    --ring: 204 82% 54%;
    --chart-1: 204 88% 53%;
    --chart-2: 160 58% 44%;
    --chart-3: 43 88% 56%;
    --chart-4: 151 61% 46%;
    --chart-5: 350 73% 53%;
  }
}
